<html>
    <head>
        <title>Muro</title>
        <link rel='stylesheet' href='../Content/Stylesheets/Styles.css' type='text/css' media="screen">	
 		<meta http-equiv="refresh" content="10" />
  
        <style type="text/css">
            .status {
                width: @(100/Model.Dimensions["Columns"])%;
                height: @(100/Model.Dimensions["Rows"])%;
            }
            h1 {
                margin-top: @(55/Model.Dimensions["Rows"])px;
                font-size:  @(150/Model.Dimensions["Rows"])px;
            }
			h3 {
                font-size:  @(80/Model.Dimensions["Rows"])px;
            }
        </style>
    </head>
    <body>
        @foreach(var pipeline in Model.Pipelines) {
        <div class="status @pipeline.Activity @pipeline.BuildState" >
            <div class="border">
                <h1>@pipeline.Name</h1>
				<h3>last build @pipeline.LastBuildTime</h3>
            </div>
        </div>
		}
    </body>
</html>